.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box {
    padding: 40px;
    min-width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    .heading {
      text-align: center;
      font-size: 1.4rem;
      font-weight: bolder;
    }

    label,
    input {
      width: 100%;
      display: block;
      margin-block: 8px;
    }

    input {
      padding: 8px 16px;
      border-radius: 5px;
      border: 1px solid black;
    }

    label {
      font-weight: bold;
      margin-block: 10px;
    }

    .submit {
      background-color: rgb(5, 201, 255);
      color: #fff;
      border: none;
      margin-top: 16px;
      font-weight: bolder;
      border-radius: 5px;

      &:hover {
        background-color: rgba(5, 201, 255, 0.825);
      }
    }
  }
}
