.Sidebar {
  border: 1px solid rgba(0, 0, 0, 0.537);
  height: 100vh;
  width: 15%;
  margin-top: 60px;
  position: fixed;

  .home,
  .shorts,
  .subscriptions,
  .settings {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
