.Sidebar {
  border: 1px solid rgba(0, 0, 0, 0.537);
  height: 100vh;

  .home,
  .shorts,
  .subscriptions,
  .settings {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
