.sidebar {
  width: 240px;
  background-color: #202020;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  div {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    svg {
      margin-right: 15px;
    }

    &:hover,
    &.active {
      background-color: #383838;
    }

    span {
      font-size: 14px;
    }
  }

  .active {
    background-color: #383838;
  }
}
