.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  background-color: #ffffff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 600px;

    input {
      width: 100%;
      padding: 8px 20px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 50px 0 0 50px;
      outline: none;
      background-color: #f9f9f9;
    }

    button {
      padding: 7px 20px;
      font-size: 16px;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 0 50px 50px 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 20px;
        color: #606060;
      }
    }
  }

  .user-actions {
    display: flex;
    align-items: center;

    .create-videos-icon {
      font-size: 24px;
      margin-right: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: #606060;
      }

      &:hover {
        svg {
          color: #000;
        }
      }
    }

    .user-avatar {
      width: 34px;
      height: 34px;
      cursor: pointer;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
