.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: rgb(0, 0, 0);
  color: white;

  .logo {
    font-size: 24px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    input {
      width: 100%;
      padding: 8px 20px;
      font-size: 16px;
      color: white;
      border: 1px solid #ffffff;
      background-color: black;
      border-radius: 50px 0 0 50px;
      outline: none;
    }

    button {
      padding: 8px 20px;
      font-size: 16px;
      color: white;
      width: 60px;
      background-color: rgb(0, 0, 0);
      border: 1px solid #ffffff;
      border-left: none;
      border-radius: 0 50px 50px 0;
      cursor: pointer;
    }
  }

  .user-actions {
    display: flex;
    .create-videos-icon {
      font-size: 24px;
      padding-inline: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .user-avatar {
      width: 40px;
      height: 40px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}
